---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="w-full">
    <img
      src="/images/dds-hero.png"
      alt="DoctorDaddySir Banner"
      class="w-full"
    />
  </section>
</Layout>
