---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en" class="bg-background text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoctorDaddySir</title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="font-sans">
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>
